*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(./images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}
.player-board{
    background-color:#fff;
    max-width: 750px;
    height: 400px;
    position: relative;
    min-width: 100px;
    margin: 3rem auto;
}
img{
    max-width: 70px;
    min-width: 20px;
    position: absolute;
    left: 310px;
    top: 100px;
    box-shadow: 2px 2px 2px 2px  rgb(230, 226, 226);
}
.btn-new{
    position: absolute;
    top: 20px;
    left: 300px;
}
.btn-roll{
    position: absolute;
    left: 300px;
    bottom: 80px;
}
.btn-hold{
    position: absolute;
    left: 320px;
    bottom: 60px;
    top: 340px;
}

 .player-0-panel{
    position: absolute;
    top: 100px;
    left: 80px;
}
.player-1-panel{
    position: absolute;
    top: 100px;
    right: 80px;
} 
.player-1-panel .current-box,.player-0-panel .current-box{
    position: absolute;
    top: 200px;
    
}
#current-1{
    position: absolute;
    right: 45px;
    margin-top: 0.5rem;
    color: #fff;
}
#current-0{
    position: absolute;
    left: 40px;
    color: #fff;
    margin-top: 0.5rem;
}
.current-box{
    background: rgb(235, 42, 42);
    height: 60px;
    padding: 1rem 1rem 0 1rem;
}
.player-name{
    font-size: 30px;
    color: rgb(160, 158, 158);
}
.global-score{
    font-size: 75px;
    color: rgb(204, 88, 88);
    margin-left: 1rem;
}
button{
    border: none;
    background: transparent;
    font-size: 17px;
    color: rgb(160, 158, 158);
    cursor: pointer;
}
button:focus{
    outline: none;
}
.ion{
    color: rgb(204, 88, 88);
    margin-right: 0.4rem;
    font-size: 20px;
}

.active{
    background: rgb(248, 246, 246);
    max-width: 300px;
    min-width: 100px;
    padding-left: 5rem;
    height: 300px;
    overflow: hidden;
    
}
.active::after{
    content: "";
    width: 10px;
    height: 10px;
    float: left;
    margin-top: -4rem;
    margin-left: -2rem;
    border-radius: 50%;
    background: red;
    /* display: inline-block; */
}
.active>div{
    color: black;
}
input{
    position: absolute;
    left: 20px;
    top: 10px;
    background: transparent;
    padding: 0.5rem;
    border: 1px solid rgb(185, 184, 184);
    width: 150px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px 3px 3px;
}
input:focus{outline: none;}
.winner{background-color: #f7f7f7;}
.winner .player-name{font-weight: 300; color: #EB4D4D;}
h5{
    max-width: 400px;
    min-width: 100px;
    text-align: justify;
    font-size: 15px;
    margin: 0.4rem;
    display: none;
}

@media(max-width:480px){
    img{
        left: 100px;
        top: 410px;
    }
    .btn-new{
        top: 20px;
        left: 140px;
        margin-left: 3rem;
    }
    .player-0-panel{
        top: 100px;
        left: 40px;
    }
    .player-1-panel{
        top: 500px;
        left: 40px;
        
    } 
    .active{
        margin-left: 0;
        padding: 3rem 3rem;
    }
    .btn-roll,.btn-hold{
        left: 250px;
    }
    
}